<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Nexus</short>
  <description>Nexus is a repository manager. It allows you to proxy, collect, and manage your build artifacts and dependencies. It makes it easy to distribute your software.</description>
  <port protocol="tcp" port="{{ nexus_port }}"/>
</service>
